@model Project.Service.Models.VehicleModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VehicleModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            VehicleMake
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleMake.Name)
        </dd>

        <dt>
            VehicleModel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abrv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abrv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehicleModelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
